version: "3.9"

services:
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - GRPC_AUTH_HOST=auth-service:50051
    volumes:
      - ./proto:/proto
    depends_on:
      - auth-service

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "50051:50051"
    volumes:
      - ./proto:/proto
    environment:
    - DB_HOST=host.docker.internal
    - DB_USER=root
    - DB_PASSWORD=Yareli2026.
    - DB_NAME=auth_db
    - DB_PORT=3306
    - JWT_SECRET=delivereats_secret_super_seguro

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - api-gateway
