version: '3.9'
services:
  auth-service:
    build: ./auth-service
    env_file:
      - ./auth-service/.env
    ports:
      - "50051:50051"
    depends_on:
      - db

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: Yareli2026.
      MYSQL_DATABASE: auth_db
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
